#
# Near Field Communication (NFC) devices
#

menuconfig NFC_DEVICES
	bool "Near Field Communication (NFC) devices"
	default n
	---help---
	  You'll have to say Y if your computer contains an NFC device that
	  you want to use under Linux.

	  You can say N here if you don't have any Near Field Communication
	  devices connected to your computer.

if NFC_DEVICES

config LGE_NFC
	bool "NFC Device Enabled for LGE"
	default n

config LGE_NFC_PN544_C2
	bool "PN544 C2 NFC driver"
	depends on I2C
	select CRC_CCITT
	default n
	---help---
	  Say yes if you want PN544 Near Field Communication driver.
	  This is for i2c connected version. If unsure, say N here.

	  To compile this driver as a module, choose m here. The module will
	  be called pn544.

config LGE_NFC_PN544_C3
	bool "PN544 C3 NFC driver"
	depends on I2C
	select CRC_CCITT
	default n
	---help---
	  Say yes if you want PN544 Near Field Communication driver.
	  This is for i2c connected version. If unsure, say N here.

	  To compile this driver as a module, choose m here. The module will
	  be called pn544.

config LGE_NFC_PRESTANDBY
	bool "NFC STANBY MODE"
	default n
	---help---
	  Say yes if you want to change a power state of pn544 to stanby mode in Kernel.
	  If unsure, say N here.

config LGE_NFC_MULTICORE_FASTBOOT
	bool "NFC MultiThread"
	default n
	---help---
	  Say yes if multi thread is applied for pre-standby.
	  If unsure, say N here.

config LGE_NFC_DEBUG_MESSAGE
	bool "NFC Debug Message"
	default n

config LGE_NFC_HW_QCT_APQ8064
	bool "Qualcom APQ8064 Chipset"
	default n

config LGE_NFC_HW_QCT_MSM8960
	bool "Qualcom APQ8960 Chipset"
	default n

config LGE_NFC_HW_QCT_MSM8930
	bool "Qualcom MSM8930 Chipset"
	default n

config LGE_NFC_HW_QCT_MSM8660
	bool "Qualcom MSM8660 Chipset"
	default n

config LGE_NFC_HW_QCT_MSM8255
	bool "Qualcom MSM8255 Chipset"
	default n

config LGE_NFC_HW_TI_OMAP4430
	bool "TI OMAP4430 Chipset"
	default n

config LGE_NFC_HW_NV_AP3X
	bool "Nvidia AP3X Chipset"
	default n

config LGE_NFC_SONY_CXD2235AGG
	bool "CXD2235AGG NFC driver"
	#depends on I2C && UART
	default n
	---help---
	  Say yes if you want CDX2235AGG Near Field Communication driver.
	  This is for i2c & UART connected version. If unsure, say N here.

	  To compile this driver as a module, choose m here. The module will
	  be called CDX2235AGG.

source "drivers/nfc/snfc/Kconfig"

endif # NFC_DEVICES
